@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'IBM Plex Sans Arabic', 'Noto Kufi Arabic', ui-sans-serif, system-ui;
    font-feature-settings: "rlig" 1, "calt" 1;
    background: #040406;
  }
  body { @apply antialiased; }
}

/* Utilities for transparent outline text */
@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.14);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
